<nav class="navbar navbar-expand-sm nav-bar-background">
  <!-- Brand/logo -->
  <a class="navbar-brand text-dark" [routerLink]="['home']">
    <span>Cement Center</span>
  </a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item ">
      <a class="nav-link text-dark" routerLinkActive="nav-bar-active nav-bar-active-text"
         [routerLink]="['sales']">Sales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLinkActive="nav-bar-active nav-bar-active-text" [routerLink]="['products']">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLinkActive="nav-bar-active nav-bar-active-text" [routerLink]="['customers']">Customers</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto mr-2">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown"
         role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sushant Mishra</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item text-dark" href="#">Account</a>
        <a class="dropdown-item text-dark" href="#">Logout</a>
      </div>
    </li>
  </ul>
</nav>

